{% load static %}

{% include "links.html" %}
<style>
   #parallax-cta{
      background-image:url({% static 'about/images/hero.jpg' %})
   }
</style>
{% include "header.html" %}

<div class="ct-pageWrapper" id="ct-js-wrapper">
<section class="company-heading intro-type" id="parallax-one" style="">
   <div class="container">
      <div class="row product-title-info">
         <div class="col-md-12">
            <h1>
               About Us
            </h1>
         </div>
      </div>
   </div>
   <div class="parallax" id="parallax-cta" style="">
      &nbsp;
   </div>
</section>
<section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding bg-light" id="section">
   <div class="container text-center">
      <h2>
         WHAT DRIVES US
      </h2>
      <h3>
         TrendsHUB
      </h3>
      <div class="col-md-8 col-md-offset-2">
         <div class="red-border">
            &nbsp;
         </div>
         <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
            These days’ people are more into social media than ever. Everyone seems interested in social media and everyone wants to be updated with trends of social media as almost every news is available on social media. Users find difficulty in searching trending content on different platforms because they have to go to every site in searching for content. Sometimes if a post is trending on Facebook, Instagram users not aware with it. We will develop an application where users can see all the trending content of social media. By doing this users does not have to go to different websites instead all the content is available on a single application. This will also save user time and make searching easy.
         </p>
         <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
      </div>
   </div>
</section>
<section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding  bg-light">
   <div class="container">
      <div class="col-md-8 col-md-offset-2">
         <h2>
            Etiam varius porttitor 
         </h2>
         <h3>
            Vestibulum elementum nisi ut
         </h3>
         <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
            Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. 
         </p>
      </div>
      <div class="row ct-u-paddingBoth20">
         <div class="col-xs-6 col-md-4">
            <div class="company-icons-white">
               <i class="fa fa-medkit" aria-hidden="true"></i>
               <p>
                  LOREM IPSUM
               </p>
               <p class="company-icons-subtext hidden-xs">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               </p>
            </div>
         </div>
         <div class="col-xs-6 col-md-4">
            <div class="company-icons-white">
               <i class="fa fa-money" aria-hidden="true"></i>
               <p>
                  DOLOR SIT AMET
               </p>
               <p class="company-icons-subtext hidden-xs">
                  Praesent sed libero vel ex maximus vulputate nec eu ligula.
               </p>
            </div>
         </div>
         <div class="col-xs-6 col-md-4">
            <div class="company-icons-white">
               <i class="fa fa-clock-o" aria-hidden="true"></i>
               <p>
                  SED TRISTIQUE
               </p>
               <p class="company-icons-subtext hidden-xs">
                  Vestibulum elementum nisi ut fermentum lobortis. 
               </p>
            </div>
         </div>
      </div>
      <div class="row ct-u-paddingBoth20">
         <div class="col-xs-6 col-md-4">
            <div class="company-icons-white">
               <i class="fa fa-coffee" aria-hidden="true"></i>
               <p>
                  SEMPER IPSUM
               </p>
               <p class="company-icons-subtext hidden-xs">
                  Nullam bibendum felis non laoreet rutrum.
               </p>
            </div>
         </div>
         <div class="col-xs-6 col-md-4">
            <div class="company-icons-white">
               <i class="fa fa-gamepad" aria-hidden="true"></i>
               <p>
                  NEC MATTIS
               </p>
               <p class="company-icons-subtext hidden-xs">
                  Etiam diam mi, lacinia eu sapien in, dapibus sodales erat.
               </p>
            </div>
         </div>
         <div class="col-xs-6 col-md-4">
            <div class="company-icons-white">
               <i class="fa fa-cutlery" aria-hidden="true"></i>
               <p>
                  CRAS MOLLIS
               </p>
               <p class="company-icons-subtext hidden-xs">
                  Etiam varius porttitor tellus et aliquet.
               </p>
            </div>
         </div>
      </div>
      <a class="ct-u-marginTop60 btn btn-solodev-red-reversed btn-fullWidth-sm ct-u-size19" href="/">Ready to Learn More?</a>
   </div>
</section>
<section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding  bg-light">
<div class="container ">
   <div class="col-md-8 col-md-offset-2">
      <h2>
         CUSTOMERS
      </h2>
      <h3>
         Trusted by some of the world&rsquo;s leading brands.
      </h3>
      <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60 marginTop40">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. Sed quis iaculis felis. 
      </p>
   </div>
   <div class="clearfix">
      &nbsp;
   </div>
</div>

<main>
   <div class="container ct-u-paddingTop40 ct-u-paddingBottom100">
      <div class="row">
         <div class="col-md-12 ct-content">
            <section class="clients-home">
               <div class="container">
                  <div class="clients-logos text-center">
                     <!-- starting row div -->
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater">
                           <a href="#" class="Zeina"><img alt="images/logo-zeina.png" src="{% static 'about/images/logo-zeina.png'%}"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Zeina - 0
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="#" class="Logic"><img alt="images/logic.png" src="{% static 'about/images/logic.png'%}"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Logic
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="#" class="Smart"><img alt="images/client3.png" src="{% static 'about/images/client3.png'%}"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Smart 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater">
                           <a href="#" class="Softtech"><img alt="images/softtech.png" src="{% static 'about/images/softtech.png'%}"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Softtech 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="#" class="Wheel"><img alt="images/logo-target.png" src="{% static 'about/images/logo-target.png'%}"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Wheel 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="#" class="3designs"><img alt="images/designx.png" src="{% static 'about/images/designx.png'%}"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    3designs 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-4 client-logos-repeater">
                           <a href="#" class="Heart"><img alt="images/client7.png" src="{% static 'about/images/client7.png' %}"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Heart
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="#" class="Devtech"><img alt="images/devtech.png" src="{% static 'about/images/devtech.png'%}"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Devtech 
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 client-logos-repeater">
                           <a href="#" class="Chartz"><img alt="images/chartz.png" src="{% static 'about/images/chartz.png'%}"></a>
                           <div class="logo-title">
                              <div class="displayTable">
                                 <div class="displayTableCell">
                                    Chartz 
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- closing row div -->
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
</main>
</section>
</div>
   {% include "footer.html" %}
<!--
</section>
</div>-->