{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
.parallex{
    background-image: url({% static '/images/fashion.jpg '%});
    background-image: url({% static '/images/fashion.jpg '%});
    background-image: url({% static '/images/health.jpg '%});
    background-image: url({% static '/images/fashion.jpg '%});

    background-size: cover;
    z-index:-1;
    height:400px
    background-repeat:no-repeat;
    background-attachment:fixed;
    opacity:0.7;
    background-position:center;
    min-height:350px;
}
a{
    text-decoration: none !important;
}
.upper_dv{
    margin-bottom:1%;
    display:block
}
.inner_dv{
padding:1%;
min-height:270px;
max-height:271px;
-webkit-box-shadow: 0px 5px 5px 5px rgba(211,211,211,0.4);
-moz-box-shadow: 0px 5px 5px 5px rgba(211,211,211,0.4);
box-shadow: 0px 5px 5px 5px rgba(211,211,211,0.4);
}
.inner_dv:hover{
min-height:270px;
-webkit-box-shadow: 0px 5px 5px 5px rgba(251,129,34,0.4);
-moz-box-shadow: 0px 5px 5px 5px rgba(251,129,34,0.4);
box-shadow: 0px 5px 5px 5px rgba(251,129,34,0.4);
}
.margin-row{
 margin-top:5%
}
.inner_image{
min-height:270px;
max-height:271px;

}
.inner_image:hover{
opacity:0.2;
transition: .5s ease;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.inner_dv:hover .inner_image {
  opacity: 0.2;
  transition: .5s ease;
}
.inner_dv:hover .middle {
  opacity: 0.7;
}

.text {
  background-color: #FB8122;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width: 240px;
}
.trending-heading{
    text-align: center;
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top:10px;
}
</style>
{% include "slider.html" %}
    <div class="container" style="">
        <h1 class="trending-heading">Trending Topics...</h1>

        <div class="row margin-row">
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/reddit/top31/">
                        <img class="inner_image" src="{%static '/images/fashion1.jpeg'%}" style="">
                        <div class="middle">
                            <div class="text">Reddit Fashion</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/reddit/top100/"><img class="inner_image" src="{%static '/images/news1.jpg'%}">
                    <div class="middle">
                        <div class="text">Reddit News</div>
                      </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/reddit/top/"><img class="inner_image" src="{%static '/images/health1.jpg'%}">
                    <div class="middle">
                        <div class="text">Reddit Health</div>
                    </div>

                    </a>
                </div>
            </div>
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/reddit/top_30/"><img class="inner_image" src="{%static '/images/tour1.jpg'%}">
                    <div class="middle">
                        <div class="text">Reddit Tourism</div>
                    </div>

                    </a>
                </div>
            </div>
        </div>

        <div class="row margin-row">
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/fashion/fb-groups/g-top11/"><img class="inner_image" src="{%static '/images/fashion2.jpg'%}">
                    <div class="middle">
                        <div class="text">Facebook Groups Fashion</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/news/fb-groups/g-top12/"><img class="inner_image" src="{%static '/images/news2.jpg'%}">
                    <div class="middle">
                        <div class="text">Facebook Groups News</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/health/fb-group/g-top8/"><img class="inner_image" src="{%static '/images/health2.jpg'%}">
                    <div class="middle">
                        <div class="text">Facebook Groups Health</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/tourism/fb-groups/g-top12/"><img class="inner_image" src="{%static '/images/tour2.jpg'%}">
                        <div class="middle">
                            <div class="text">Facebook Groups Tourism</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row margin-row">
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/fashion/fb-page/p-top34/"><img class="inner_image" src="{%static '/images/fashion3.jpg'%}">
                    <div class="middle">
                            <div class="text">Facebook Page Tourism</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/news/fb-page/p-top14/"><img class="inner_image" src="{%static '/images/news3.jpg'%}">
                    <div class="middle">
                        <div class="text">Facebook Groups News</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/health/fb-page/p-top12/"><img class="inner_image" src="{%static '/images/health3.jpg'%}">
                    <div class="middle">
                            <div class="text">Facebook Groups Health</div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 upper_dv" style="">
                <div class="inner_dv">
                    <a href="/tourism/fb-page/p-top14/"><img class="inner_image" src="{%static '/images/tour3.jpg'%}">
                    <div class="middle">
                            <div class="text">Facebook Groups Tourism</div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
